*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: #f3f7f7;
    width: 100%;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    
}
.top_nav{
    height: 6rem;
    background-color: #011;
}
.top_nav--ul {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 2rem 4rem;
    list-style: none;
    width: 100%;
}
.top_nav--ul div{
    display: flex;
    justify-content: space-between;
    width: 60%;
    visibility: visible;
}
.top_nav--ul div li{
    margin: 1px;
    text-align: left;
    width: auto;
    text-align: center;
}
.top_nav--ul a{
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
}
.top_nav--ul a:hover{
    background-color: #f3f7f7;
    color: #011;
    border-radius: 7px;
}
.logIn a, .donate_option a{
    background-color: #f3f7f7;
    color: #011;
    border-radius: 7px;
}
.logIn a:hover, .donate_option a:hover{
    outline: 2px solid green;
}
/* header img start  */
.header_img{
    width: 100%;
    height: 28rem;
    display: flex;
    
}
.header_paragraph{
    background-image: linear-gradient(-200deg, rgba(154,100,54,255)
    ,rgba(182,126,67,255),rgba(144,82,43,255), rgba(144,82,43,255),rgba(182,126,67,255));
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
    color: #f3f7f7;
    
    
}
.header_img--image{
    width: 50%;
    object-fit: cover;
}
#word{
    display: none;
}
/* Main style start */
.welcome .welcome_title-1{
    text-align: center;
    padding: 3rem 0;
}
.welcome_paragraph{
    display: flex;
    height: 25rem;
    gap: 2rem;
    margin-bottom: 2rem;
}
.welcome_title{
    margin: 2rem;
    text-align: center;
}
.welcome_paragraph div p{
    font-size: 1.3rem;
    text-align: justify;
}
.welcome_paragraph div{
    width: 50%;
    margin-right: 3rem;
}
.welcome_paragraph img{
    width: 50%;
    object-fit: cover;
    margin-left: 3rem;
    border-radius: 10px;
}
div p em{
    display: inline-block;
    width: 4rem;
}
/* Service style start */
.services .services--title{
    text-align: center;
    height: 2rem;
}
.services_container{
    display: flex;
    margin: 2rem 0rem;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
}
.services_container .tutoring, .services_container .book_club, .services_container .training{
    width: 30%;
    background-color:  rgb(231,235,241);
    padding: 2rem;
    border-radius: 10px;
}
.services_container h4{
    text-align: center;
    margin-bottom: 1rem;
}
.services_container .service--paragraph{
    height: 18rem;
    font-family:sans-serif,Arial, Helvetica;
}
.services_container button{
    padding: 0.5rem;
    background-color: rgba(154,100,54,255);
    outline: none;
    color: #f3f7f7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Subscription style start */
.program h1, .program h2, .program h3 {
    text-align: center;
}
.program--container{
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}
.program--container--first{
    width: 65%;
    background-color: rgb(231,235,241);
    padding: 2rem 0;
    line-height: 1.5rem;
    font-family:sans-serif,Arial, Helvetica;
    border-radius: 10px;
}
.program--container--last{
    width: 30%;
    background-color: rgb(144,82,43);
    color: #f3f7f7;
    padding: 2rem 0;
    text-align: center;
    border-radius: 10px;
}
.program--container--first--div{
    display: flex;
    padding: 1rem 2rem;
    gap: 2rem;
}
.newspaper input{
    width: 90%;
    height: 1.5rem;
    border-radius: 10px;
    padding: 0 0.5rem;
    outline: none;
    text-align: center;
}
.newspaper button{
    width: 7rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
footer{
    display: flex;
    background-color: #011;
    color: #f3f7f7;
    gap: 3rem;
    padding: 2rem 3rem;
    margin-top: 1rem;
}
footer div{
    width: 100%;
}
footer div a{
    color: #f3f7f7;
}
footer div button{
    background-color: rgb(144,82,43);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
footer div button a{
    color: #011;
    text-decoration: none;
}
.icon{
    display: inline-block;
    margin: 0 0.25rem;
}
.menu, .delete{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: #f3f7f7;
    display: none;
    z-index: 4443;
}

/* Responsiveness */
@media screen and (max-width: 1119px) {
    .welcome_title{
        margin-top: 0;
        text-align: center;
    }
    
}
@media screen and (max-width: 1060px) {
    .top_nav--ul div{
        width: 55%;
    }
    .program--container--first{
        width: 100%;
        gap: 4rem !important; 
    }
    .program--container--last{
        width: 100%;
    }
    
}


@media screen and (max-width: 1032px) {
    .top_nav--ul {
        padding: 2rem 2rem;
    } 
}
@media screen  and (max-width:998px){
    /* image section responsiveness */
    .header_img{
        position: relative;
        display: block;
        height: 28rem;
    }
    .header_img--image{
        float: right;
        width: 65%;
        height: 28rem;
        object-fit: cover;
        
    }
    .header_paragraph{
        position: relative;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
    }
    .word{
        display: none;
    }
    #word{
        display: inline-block;
        position: absolute;
        top: 12rem;
        left: 0;
        color: #f3f7f7;
        font-weight: bolder;
        font-size: 1.4rem;
        width: 30rem;
        text-align: center;
    }
    .welcome_paragraph{
        gap: 1rem;
    }
    .welcome_paragraph div{
        margin-right: 1rem;
    }
    .welcome_paragraph img{
        margin-left: 1rem;
    }

}
@media screen and (max-width: 883px) {
    .welcome_paragraph{
        flex-wrap: wrap; 
        height: auto;
    } 
    .welcome_paragraph img,
    .welcome_paragraph div{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        
    }
    .welcome_paragraph img{
        height: 22rem;
    }
    .welcome_paragraph div p{
        text-align: justify;
    }
    .services_container .tutoring, .services_container .book_club, .services_container .training{
        width: 40%;
    }
    .services_container .training {
        height: 20rem !important;
    }
    .services_container .training .service--paragraph {
        height: 12rem !important;
    }
    
}

@media screen and (max-width: 832px) {
    .menu{
        display: inline;
        
    }
    .delete{
        display:  inline;
        visibility: hidden;
    }
    .top_nav--ul div{
        display: none;
        flex-direction : column;
        background-color : #011;
        position : absolute;
        top : 0;
        right : 0;
        height : 17rem;
        padding : 3.5rem 0 1rem 0;
        width : 15rem;
        animation: start 3s ease 0s 1 normal both;
        z-index: 444;
    }
    @keyframes start {
        0%{
            right: -15rem;
        }
        100%{
            right: 0;
            
        }
        
    }
    @keyframes end {
        0%{
            right: 0;
        }
        100%{
            right: -15rem;
            
        }
        
    }
    
     /* image section */
    
}
@media screen and (max-width: 829px) {
    #word{
        width: 20rem;
    }  
    
}

@media screen and (max-width: 727px) {
    .header_img--image{
        width: 75%;  
    }
    .welcome_title-1{
        font-size: 1.3rem;
    }
    .welcome_paragraph div p, .welcome_paragraph div h2{
        font-size: 1.2rem;
    }
    .welcome_paragraph div h2{
        margin: 1rem;
    }
    .program--container--first--div{
        flex-wrap: wrap;
        justify-content: center;
        padding-left:0 ;
        padding-right: 0;
    }
    .program--container--first--div > *{
        width: 90%;
    }
    .program--container--first h2{
        margin-bottom: 1rem;
    }
    footer{
        flex-wrap: wrap;
    }
    footer > *{
        width: 17rem !important;
    }
    footer div:last-child{
        width: 100% !important;
    }
}
@media screen and (max-width: 600px) {
    .top_nav--ul {
        padding: 1rem 1rem;
    }
    .top_nav{
        height: 4rem;
    }
    .menu, .delete{
        top: 1rem;
        right: 1rem;
    } 
    .header_img{
        display: block;
        position: relative; 
        height: 24rem; 
    }
    .header_img--image{
        height: 24rem;
        object-fit: cover;
        width: 100%;
        /* margin-bottom: 2rem; */
    }
    #word{
        top: 25rem;
        width: 100%;
        font-size: 1.2rem;
        color: #011;
    }
    .header_paragraph{
        display: none;
    }
    .welcome_title-1{
        padding: 1.5rem !important;
        font-size: 1.2rem;
    }
    .welcome_paragraph img{
        height: 15rem !important;
    }
    .welcome_paragraph div p, .welcome_paragraph div h2{
        font-size: 1rem;
    }
    .services_container .tutoring, .services_container .book_club, .services_container .training{
        width: 70%;
    }

    .services_container .book_club {
        height: 20rem !important;
    }
    .services_container .book_club .service--paragraph {
        height: 12rem !important;
    }
    h1{
        font-size: 1.3rem;
    }
    h2{
        font-size: 1.2rem;
    }
    h3{
        font-size: 1rem;
    }
      
}
@media screen and (max-width: 400px) {
    .header_img--image,.header_img{
        height: 20rem;
    }  
    #word{
        top: 21rem;
        font-size: 1rem;
    }
    .services_container .tutoring, .services_container .book_club, .services_container .training{
        width: 90%;
    }
}
@media screen and (max-width: 340px) {
    .top_nav--ul {
        padding: 1rem 0.5rem;
    }
    .menu, .delete{
        top: 1rem;
        right: 0.5rem;
    } 
    .top_nav--ul li:first-child{
        font-size: 0.8rem;
    } 
    footer > *{
        width: 100%;
    }
    /* 
    #word{
        top: 70%;
    }  */
    .services_container .tutoring, .services_container .book_club, .services_container .training{
        width: 95%;
    }
}




